#footer{
    clear: both;
    position: relative;
    z-index: 10;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
#social{
    font-size: 20px;
    float: right;
}
#social a{
    color: #000000;
}
#social a:hover{
    color: #265a88;
}
#name{
    font-weight: bold;
}
