<div class="container">
    <div class="row" id="footer">
        Made by <sapn id="name">gaotongfei</sapn> | Powered by <a href="http://flask.pocoo.org/">Flask</a> | <a href="https://github.com/gaotongfei/flask-blog">Source</a>
        <div id="social">
            <a href=""><img src="/static/DO_Logo.png" height="45px"/></a>
            <a href="https://www.upyun.com/"><img src="http://upfiles.b0.upaiyun.com/logo/90x45.png" alt="UPYUN"></a>
            <!--
            <a href="http://weibo.com/weirdGeek/profile?rightmod=1&wvr=6&mod=personinfo" target="_blank"><i class="fa fa-weibo"></i></a>
            <a href="https://github.com/gaotongfei" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://plus.google.com/u/0/112203409147505445169/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="https://twitter.com/gaotongfei" target="_blank"><i class="fa fa-twitter"></i></a>
            -->
        </div>
    </div>
</div>

