{% extends "base.html" %}
{% block title %}文章 {% endblock %}
{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{{ pagedown.html_head() }}
    {{ super() }}
    <style>
        {% include "snipple/footer.css" %}
        a{
        }
        #title{
            line-height: 35px;
        }
        .post{
            list-style-type: none;
        }
        .post-body{
            font-weight: normal;
            font-size: 16px;
        }
        .label-default{
            background-color: #ffffff;
            border: 1px solid #ddd;
            color: #333;
        }
        #pub_time{
            margin-top: 5px;
        }
    </style>
{% endblock %}
{% block nav %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">首页 <span class="sr-only">(current)</span></a></li>
            </ul>
            <!--右边导航栏-->
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="logout.html">登出</a></li>
                {% else %}
                <li><a href="login.html">登录</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="post-article.html">发表文章</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
    <div class='container'>
    <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
    <ul class="posts">
        <li class="post">
            <div class="head">
                <a href="{{ url_for('article', id=content.id)}}"><h2 id="title">{{ content.title }}</h2></a>
                <div id="pub_time">{{ content.pub_time.strftime('%Y %m %d') }}</div>
            </div>
            <hr>
            <div class="post-body">
                    {{ content.body_html | safe }}
            </div>
            <span class="glyphicon glyphicon-tags"></span> &nbsp;&nbsp;
            <span class="label label-default"><a>{{ content.category }}</a></span>
        </li>
    </ul>
    <hr>
    </div>
    <div class='col-md-2'></div>
    </div>
    </div>
{% endblock %}
{% block footer %}
{% include "snipple/footer.html" %}
{% endblock %}
