{% extends "base.html" %}
{% block title %}文章 {% endblock %}
{% block head %}
{{ pagedown.html_head() }}
    {{ super() }}
    <style>
        #title{
            font-size: 30px;
            font-weight: bold;
            line-height: 35px;
        }
        .post{
            list-style-type: none;
        }
    </style>
{% endblock %}
{% block nav %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">首页 <span class="sr-only">(current)</span></a></li>
            </ul>
            <!--右边导航栏-->
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="logout.html">登出</a></li>
                {% else %}
                <li><a href="login.html">登录</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="post-article.html">发表文章</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
    <div class='container'>
    <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
    <ul class="posts">
        <li class="post">
            <div class="head">
                <a href="{{ url_for('article', id=content.id)}}"><span id="title">{{ content.title }}</span></a>
                <span id="pub-time">{{ content.pub_time.strftime('%y-%m-%d') }}</span>
            </div>
            <div class="post-body">
                <span class="label label-success">{{ content.category }}</span>
                    {{ content.body_html | safe }}
            </div>
        </li>
    </ul>
    </div>
    <div class='col-md-2'></div>
    </div>
    </div>
{% endblock %}
