{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .post{
            margin-bottom: 20px;
        }
        .head{
        }
        #title{
            font-size: 30px;
            font-weight: bold;
            line-height: 35px;
        }
        #pub-time{
            font-size: 15px;
            font-weight: lighter;
            float: right;
            line-height: 35px;
        }
        .post{
            list-style-type: none;
        }
    </style>
{{ pagedown.html_head() }}
{% endblock %}
<!--navbar-->
{% block nav %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
            </ul>
            <!--右边导航栏-->
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="logout.html">登出</a></li>
                {% else %}
                <li><a href="login.html">登录</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="post-article.html">发表文章</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
<!--content-->
{% block content %}
    <div class='container'>
    <ul class="posts">
        {% for content in contents %}
        <li class="post">
            <div class="head">
                <span id="title">{{ content.title }}</span><span id="pub-time">{{ content.pub_time }}</span>
                <hr />
            </div>
            <div class="post-body">
                {% if content.body_html %}
                    {{ content.body_html | safe }}
                {% else %}
                    {{ content.body }}
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
