{% extends "base.html" %}
{% from "macro.html" import pagination_widget, navbar  with context %}
{% block title %}首页{% endblock %}
{% block head %}
<link rel="stylesheet" href="http://7xjm5v.com1.z0.glb.clouddn.com/@/font-awesome-4.3.0/css/font-awesome.min.css">
    {{ super() }}
    <style type="text/css">
        {% include "snipple/footer.css" %}
        a{
        }
        .post-body{
            margin-bottom: 20px;
        }
        .head{
        }
        #title{
            font-size: 30px;
            font-weight: bold;
            line-height: 35px;
        }
        #pub-time{
            font-size: 15px;
            font-weight: lighter;
            float: right;
            line-height: 35px;
        }
        .post{
            list-style-type: none;
        }
        #abstract{
            font-size: medium;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .label-default{
            background-color: #ffffff;
            border: 1px solid #ddd;
            color: #333;
        }
        .pagination{
            margin-top: 0;
        }
    </style>
{{ pagedown.html_head() }}
{% endblock %}
<!--navbar-->
{% block nav %}
    {{ navbar() }}
{% endblock %}
<!--content-->
{% block content %}
<div class="container">
    <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
    <ul class="posts">
        {% for content in contents %}
        <li class="post">
            <a href="{{ url_for('article', id=content.id )}}"><h3>{{ content.title }}</h3></a>
            {{ content.pub_time.strftime('%Y %m %d') }}
            {% if content.abstract %}
            <div id="abstract">{{ content.abstract }}</div>
            {% endif %}
            <span class="glyphicon glyphicon-tags"></span> &nbsp;&nbsp;
            <span class="label label-default">{{ content.category }}</span>
            <hr>
        </li>
        {% endfor %}
    </ul>
    </div>
    <div class='col-md-3'></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="pagination">
                {{ pagination_widget(pagination, 'index') }}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "snipple/footer.html" %}
{% endblock %}
