{% extends "base.html" %}
{% import "macro.html" as macro %}
{% block title %}首页{% endblock %}
{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {{ super() }}
    <style type="text/css">
        {% include "snipple/footer.css" %}
        a{
        }
        .post-body{
            margin-bottom: 20px;
        }
        .head{
        }
        #title{
            font-size: 30px;
            font-weight: bold;
            line-height: 35px;
        }
        #pub-time{
            font-size: 15px;
            font-weight: lighter;
            float: right;
            line-height: 35px;
        }
        .post{
            list-style-type: none;
        }
        #edit{
            float: right;
            margin-top: 8px;
            margin-left: 2px;
        }
        #delete{
            float: right;
            margin-top: 8px;
            margin-left: 2px;
        }
        #abstract{
            font-size: medium;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .label-default{
            background-color: #ffffff;
            border: 1px solid #ddd;
            color: #333;
        }
        .pagination{
            margin-top: 0;
        }
    </style>
{{ pagedown.html_head() }}
{% endblock %}
<!--navbar-->
{% block nav %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
            </ul>
            <!--右边导航栏-->
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="logout.html">登出</a></li>
                {% else %}
                <li><a href="#">关于</a></li>
                <li><a href="login.html">登录</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="post-article.html">发表文章</a></li>
                <li><a href="admin.html">管理</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
<!--content-->
{% block content %}
    <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
    <ul class="posts">
        {% for content in contents %}
        <li class="post">
            <a href="{{ url_for('article', id=content.id )}}"><h3>{{ content.title }}</h3></a>
            {{ content.pub_time.strftime('%b %d %Y') }}
            {% if content.abstract %}
            <div id="abstract">{{ content.abstract }}</div>
            {% endif %}
            <span class="glyphicon glyphicon-tags"></span> &nbsp;&nbsp;
            <span class="label label-default">{{ content.category }}</span>
            <hr>
        </li>
        {% endfor %}
    </ul>
    </div>
    <div class='col-md-2'></div>
    </div>
{% endblock %}
{% block footer %}
<div class="container" >
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="pagination">
                {{ macro.pagination_widget(pagination, 'index') }}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% include "snipple/footer.html" %}
{% endblock %}
