{% macro pagination_widget(pagination, endpoint) %}
<ul class="pagination" style="margin-left:40px;">
    <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.page-1)}}{% else %}#{% endif %}">
        &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
    {% if p %}
        {% if p == pagination.page %}
        <li class="active">
        <a href="{{url_for(endpoint, page=p)}}">{{ p }}</a>
        </li>
        {% else %}
        <li>
        <a href="{{url_for(endpoint, page=p)}}">{{ p }}</a>
        </li>
        {% endif %}
    {% else %}
        <li class="disable">
            <a href="#">&hellip;</a>
        </li>
    {% endif %}
    {% endfor %}
    <li {% if not pagination.has_next %} class="disabled" {% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.page+1) }} {% else %}#{% endif %}">
        &raquo;
        </a>
    </li>
</ul>
{% endmacro %}

{% macro navbar(current='home') %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if current == 'home' %}class="active"{% endif %}><a href="/">首页 <span class="sr-only">(current)</span></a></li>
            </ul>
            <!--右边导航栏-->
            <ul class="nav navbar-nav navbar-right">
                <li {% if current == 'about' %}class="active"{% endif %}><a href="#">关于</a></li>
                {% if current_user.is_authenticated() %}
                <li><a href="/logout.html">登出</a></li>
                {% else %}
                <li {% if current == 'login' %}class="active"{% endif %}><a href="/login.html">登录</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li {% if current == 'post-article' %}class="active"{% endif %}><a href="/post-article.html">发表文章</a></li>
                <li {% if current == 'admin' %}class="active"{% endif %}><a href="/admin.html">管理</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endmacro %}
