{% extends "base.html" %}
{% from "macro.html" import navbar with context %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}发表文章{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .container-center{
            max-width: 700px;
        }
    </style>
    {{ pagedown.html_head() }}
{% endblock %}
{% block nav %}
    {{navbar('post-article')}}
{% endblock %}

{% block content %}
    <div class="container container-center">
        <form method="post">
            {{ form.hidden_tag() }}
            {{ form.title.label }}
            {{ form.title(class='form-control', placeholder='必填') }}
            {{ form.body.label }}
            {{ form.body(rows=20,cols=80, class='form-control', placeholder='必填')}}
            {{ form.abstract.label }}
            {{ form.abstract(rows=5,cols=80,class='form-control', placeholder='必填')}}
            {{ form.category.label }}
            {{ form.category(class='form-control', placeholder='必填') }}
            {{ form.pub_time.label }}
            {{ form.pub_time(class='form-control', placeholder='例如: 2015-05-08 或 2015-05-08 15:30:09, 不填默认当前时间') }}
            {{ form.submit(class='btn btn-default') }}
        </form>
    </div>
{% endblock %}
